<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Mystery+Quest" rel="stylesheet">
    <title>Quotes-app</title>
</head>
<body>
        <div class="container-fluid">
                <div class="row">
                    <form (ngSubmit)='submitQuotes()' #quoteForm='ngForm' class="form-group">
                    
                        <!-- Name Form -->
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text"  class="form-control" id="name" [(ngModel)]="newQuotes.name" name="name" #name="ngModel" required>
                            
                            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                                <p> Name is Required</p>
                                
                            </div>
                        </div>
                        <!-- Description Input -->
                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea class="form-control" id="description" rows="4" [(ngModel)]="newQuotes.description" name="description" #description="ngModel" required></textarea>
                            <div [hidden]="description.valid || description.pristine" class="alert alert-danger">
                                <p> Description is Required</p>
                                
                            </div>
                            
                        </div>
                        
                        <button type="Submit" class="btn btn-info btn-lg">Submit quote</button>
                    </form>
                </div>
        </div>
</body>
</html>
